<div class = "preload" id = "preload">
	<div class ="logo">
	  <span style = "color: darkturquoise;">loading</span>
	</div>
		<div class = "loader-frame">
		<div class = "loader1" id = "loader1"></div>
		<div class = "loader2" id = "loader2"></div>
	</div>
</div>

<script src="funcs.js"></script>


 <div id="container">
  <div id="header">
  <div id="svg">
   <img src="circle.svg" width="90" height="130"/>
  </div>
    <div id="textcontainer">
	 <h1>The Brass Pig</h1>
	 </div>	
   </div>
   
    <div id="content">
    <div id="nav"> 
	 <ul>
	  <li><a class="selected" href="index.html">Home</a></li>
	 </ul>
	  <div class="square">
        <img src="brasspig.jpg"/>
	   </div>
	</div>

        <div id="main">
			<p><strong> About </strong></p>

			<p> An exciting new concept far removed from the corporate hum drum the Brass Pig, bar and restaurant is set over two distinct floors with an amazing auspicious terrace overlooking the triangle. Relax with fine food and drinks, that you won’t find anywhere else. </p>
			
			<p> The Brass Pig is a traditional public house located on Clifton Triangle in Bristol split over two floors – upstairs you’ll find leather armchairs and even a white mini grand piano whilst downstairs is all about the dance floor, DJ booth and huge projector screen. Outside on the heated terrace watch the world speed past as you relax with friends. The Brass Pig offers everything you would expect in this day and age in Bristol.
			</p>

			<p> For entertainment as well as regular theme nights including quizzes and open mic nights there are also loads of screens to catch up on the latest sport including a huge projector screen downstairs.</p>


			<div id="review">
             
			<table>

			 <tr>
			  <th>Username</th>
		       <th>Review</th>
             </tr>
               {{#each data}} 
                <tr>
                 <td> 
                  {{name}}
                  </td>
                   <td>
                    {{review}}
                   </td>
                </tr>
                {{/each}}
              </table>

            </div>
            
	   </div>
		
	</div>
 </div>

		<div id= "footer"> | Contact details: Unit 1, Clifton Heights, Triangle West, Bristol BS8 1EJ | 0117 3294471 | <a class="selected" href="register.html">Register</a> | <a class="selected" href="login.html">Login</a> | 
		 <a class="selected" href="/review">Review</a> | <a class="selected" href="users/logout">Logout</a>		
		</div>	
	
	

	