<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
	<script src="handlebars-v4.0.10.js"></script>
  </head>
  <body>

    {{{body}}}

  </body>
</html>