<div class = "preload" id = "preload">
	<div class ="logo">
	  <span style = "color: darkturquoise;">loading</span>
	</div>
		<div class = "loader-frame">
		<div class = "loader1" id = "loader1"></div>
		<div class = "loader2" id = "loader2"></div>
	</div>
</div>

<script src="funcs.js"></script>

<div id="container">
 <div id="header">
  <div id="svg">
   <img src="circle.svg" width="90" height="130"/>
  </div>
  <div id="textcontainer">
   <h1>Red Light</h1>
  </div>
  </div>
   <div id="content">
     <div id="nav"> 
	  <ul>
	  <li><a class="selected" href="index.html">Home</a></li>
	  </ul>
	   <div class="square">
		<img src="redlight.jpg"/>
	   </div>
	  </div>
    
    	<div id="main">
		<p><strong> About </strong></p>

		<p> A great, late-night hidey-hole, and an ideal place to escape the boisterous antics of Park Street.</p>
		
		<p>Red Light advertises its presence on Union Street by, well, a red light, emanating from a graffiti covered doorway. Pick up the payphone, press the button and… presto. Billing itself as a late-night drinking den with an air of 1950s panache, Red Light has a cocktail list that pairs customisable classics with new creations. True to its location, it’s about quality, not crowd-pleasing.</p>

		<p> Some of the drinks had us raising an eyebrow at the flavour, and we did find that Red Light’s short cocktails were far better than their long ones, but die-hard booze fanatics will certainly find something to interest them here.
		</p>		

		<div id="review">
             
			<table>

			 <tr>
			  <th>Username</th>
		       <th>Review</th>
             </tr>
               {{#each data}} 
                <tr>
                 <td> 
                  {{name}}
                  </td>
                   <td>
                    {{review}}
                   </td>
                </tr>
                {{/each}}
              </table>

            </div>
            
		</div>

	</div>
		<div id= "footer">
		| Contact details: Red Light , 1 Unity St, Bristol, BS1 5HH | 0117 929 1453 | info@redlightbristol.xxx | <a class="selected" href="register.html">Register</a> | <a class="selected" href="login.html">Login</a> | 
		 <a class="selected" href="/review">Review</a> | <a class="selected" href="users/logout">Logout</a>			
		</div>	
</div>


	