<h1> Leave Review </h1>
<form action="/users/review" method = "post"> 
<label>Username</label><br/>
<input type="text" name="Uname" required=""/>
<br/>
<label>Pubname</label><br/> 
<input type="text" name="Pname" required=""/>
<br/>
<label> Date </label><br/> 
<input type="date" name="Dname" required=""/>
<br/>
<label> Review </label><br/> 
<input type="text" name="Rname" required=""/>
<br/><br/> 
<input type = "submit" value = "Submit"/>
</form>