div {
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

span {
	font-family: cursive;
	color: #e0dfdc;
    font-style: oblique;
    font-stretch: ultra-condensed;
}


h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 50px;
  padding: 20px 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1.elegantshadow {
  color: #131313;
  background-color: #FF8C00;
  letter-spacing: .15em;
}

.test{
    width:  1329px;
    height: 1200px;
}

.fishes {
	position: absolute;
	top: 50%;
    left: 50%;
}

.box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100px;
  border: 1px solid red;
}

.contentbox1 {
	position: absolute;
	  top: 135%;
    left: 30%;
    background-color: #FF8C00;
    height: 25px;
    width: 150px;
    text-align: center;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
}

.contentbox1:hover {
  height: 15%;
  width: 15%;
  cursor:url(littleman2.png),auto;
}


.con2 {
	position: absolute;
	  top:  105%;
    left: 63%;
    background-color: #FF8C00;
    height: 25px;
    width: 150px;
    text-align: center;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
}

.con2:hover {
  height: 15%;
  width: 15%;
    cursor:url(littleman2.png),auto;
}

.con3 {
    position: absolute;
    top:  160%;
    left: 42%;
    background-color: #FF8C00;
    height: 25px;
    width: 150px;
    text-align: center;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
}

.con3:hover {
  height: 15%;
  width: 15%;
    cursor:url(littleman2.png),auto;
}

.con4 {
    position: absolute;
     top:  50%;
     left: 52%;
    background-color: #FF8C00;
    height: 25px;
    width: 150px;
    text-align: center;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
}

.con4:hover {
  height: 15%;
  width: 15%;
  cursor:url(littleman2.png),auto;
}

.con5 {
    position: absolute;
      top: 115%;
    left: 30%;
    background-color: #FF8C00;
    height: 25px;
    width: 150px;
    text-align: center;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
}

.con5:hover {
  height: 15%;
  width: 15%;
  cursor:url(littleman2.png),auto;
}

.con6 {
    position: absolute;
    top: 130%;
    left: 58%;
    background-color: #FF8C00;
    height: 25px;
    width: 150px;
    text-align: center;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
}

.con6:hover {
  height: 15%;
  width: 15%;
  cursor:url(littleman2.png),auto;
}

.con7 {
    position: absolute;
    top:  144%;
    left: 42%;
    background-color: #FF8C00;
    height: 25px;
    width: 150px;
    text-align: center;
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
}

.con7:hover {
  height: 15%;
  width: 15%;
  cursor:url(littleman2.png),auto;
}
